.rc-redscript{
  width:30px;
  content:url("./REDSCRIPTLOGOTEST.png");
}
.rc-redcss{
  width:30px;
  content:url("./Red-CSS-Logo.png");
}
.rc-redhtml{
  width:30px;
  content:url("./Red-HTML-Logo.png");
}
.rc-redcode{
  width:30px;
  content:url("./Red-Code-INC-Logo.png");
}
