.rc-redscript{
  width:50px;
  content:url("./REDSCRIPTLOGOTEST.png");
}
.rc-redcss{
  width:50px;
  content:url("./Red-CSS-Logo.png");
}
.rc-redhtml{
  width:50px;
  content:url("./Red-HTML-Logo.png");
}
.rc-redcode{
  width:50px;
  content:url("./REDCODEINCLOGO.png");
}
